<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Hawaii Climate Data API
        </title>
        <link rel="icon" type="image/png" href="../static/images/hawaii.png">
        <link rel="stylesheet" href="../static/css/waves.css">
        <link rel="stylesheet" href="../static/css/style.css">
    </head>

    <body>
        <ul>
            <li>
                <a title="Returns precipitation of each day in Hawaii for the last 12 months
                of data-set." href="/api/v2.0/precipitation">
                    <button type="button">
                        Precipitation data
                    </button>
                </a>
                <div class="overlay"></div>
            </li>
            <li>
                <a title="Returns weather station IDs of weather stations
                used in data." href="/api/v2.0/stations">
                    <button type="button">
                        Weather station IDs
                    </button>
                </a>
                <div class="overlay"></div>
            </li>
            <li>
                <a title="Returns temperature observation data (tobs) for the last
                12 months of data-set. Represents a temperature for each day." href="/api/v2.0/tobs">
                    <button type="button">
                        Temperature observation data
                    </button>
                </a>
                <div class="overlay"></div>
            </li>
        </ul>
        <div class="intro">
            <h1>Hawaii Climate Data API</h1>
            <p>A REST API with returns in JSON format. Supply date or date range to
                <i>"/api/v2.0/aggregate/{start-date}/{end-date}"</i> to aggregate data by date (from 2010-01-01 to
                2017-08-23).
                For example: <a id="dynamic-example"
                    href="/api/v2.0/aggregate/2016-04-16/2017-04-16">/api/v2.0/aggregate/2016-04-16/2017-04-16</a>
            </p>
            <div class="ocean">
                <div class="wave"></div>
                <div class="wave"></div>
            </div>
        </div>
    </body>

</html>