html {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(219, 222, 227);
}

h1 {
  margin: 0;
  padding: 0;
  color: rgb(56, 59, 80);
  text-align: left;
}

h2 {
  color: rgb(56, 59, 80);
}

ul,
li {
  padding: 0;
}

ul {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

li {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: calc(100% / 3);
  background-color: rgba(0, 0, 0, 0.35);
  list-style: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

li:nth-of-type(1) {
  background-image: url("/static/images/pic1.jpg");
}

li:nth-of-type(2) {
  background-image: url("/static/images/pic2.jpg");
}

li:nth-of-type(3) {
  background-image: url("/static/images/pic3.jpg");
}

button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  outline: transparent;
  background-color: transparent;
  border: 2px solid rgb(51, 57, 238);
  border-radius: 4px;
}

a {
  z-index: 2;
  text-decoration: none;
}

a>button {
  font-size: 1rem;
  color: rgb(229, 233, 239);
}

a>button:hover {
  cursor: pointer;
  filter: brightness(1.15);
  background-color: rgb(51, 57, 238);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

a:hover~.overlay {
  opacity: 0.2;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

p {
  margin: 0;
  padding: 7px 0px;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.8;
}

a#dynamic-example {
  text-decoration: none;
  font-size: 1rem;
  color: rgb(51, 57, 238);
}

a#dynamic-example:hover {
  opacity: 0.8;
}